<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
</head>
<body>
    <div id="box">
        <div id="chatbox">
        </div>
        <div id="panel">
            <input id="messageInput" placeholder="Enter message"/>
            <button onclick="sendMessage()"><i class="bi bi-arrow-right"></i></button>
        </div>
    </div>
    <div id="reg">
        <form>
            <input id="username" placeholder="Enter username"/>
            <button id="conButton" onclick="connect()"><i class="bi bi-box-arrow-in-right"></i></button>
        </form>
    </div>
    <script>
        var socket;
        var reg = document.getElementById("reg");
        var box = document.getElementById("box");
        var button = document.getElementById("conButton");
        var chatbox = document.getElementById("chatbox");
        var usernameInput = document.getElementById("username");

        // Обработчики подключения к сокету и отключения
        function connect() {
            let username = usernameInput.value;
            if (username !== "" && username !== "system") {
                socket = io('http://localhost:8000');
                
                // Отключение возможности редактирование и повторного нажатия кнопки
                button.disabled = true;
                usernameInput.setAttribute("readonly", "");
                
                // Ракировка блоков с регом и чатом
                reg.style.display = "none";
                box.style.display = "block";

                socket.on("message", function(data) {
                    if (data[0] !== "system") {
                        let h1 = document.createElement("h1");
                        h1.textContent = data[0];
                        let p = document.createElement("p");
                        p.textContent = data[1];
                        let h4 = document.createElement("h4");
                        var d = new Date();
                        h4.textContent = d.toLocaleTimeString().slice(0, -3);

                        let div = document.createElement("div");
                        div.className = "nyou_mess";
                        div.appendChild(h1);
                        div.appendChild(p);
                        div.appendChild(h4);

                        chatbox.appendChild(div).scrollIntoView();
                    } else {
                        if (data[1] !== "Your opponent is out, the room is closed") {
                            let h1 = document.createElement("h1");
                            h1.textContent = data[0];
                            let p = document.createElement("p");
                            p.textContent = data[1];

                            let div = document.createElement("div");
                            div.className = "system";
                            div.appendChild(h1)
                            div.appendChild(p)

                            chatbox.appendChild(div)
                        } else {
                            let h1 = document.createElement("h1");
                            h1.textContent = data[0];
                            let p = document.createElement("p");
                            p.textContent = data[1];

                            let div = document.createElement("div");
                            div.className = "system";
                            div.appendChild(h1)
                            div.appendChild(p)

                            chatbox.appendChild(div)

                            setTimeout(function() {
                                window.location.reload();
                            }, 3000);
                        }
                    }
                }); 
            }
        };
        
        // Отправка сообщения
        function sendMessage() {
            var messageInput = document.getElementById('messageInput');
            var message = messageInput.value;
            if (message !== "") {
                let username = usernameInput.value;
                socket.emit("message", {username, message});

                let h1 = document.createElement("h1");
                h1.textContent = "Вы";
                let p = document.createElement("p");
                p.textContent = message;
                let h4 = document.createElement("h4");
                var d = new Date();
                h4.textContent = d.toLocaleTimeString().slice(0, -3);

                let div = document.createElement("div");
                div.className = "you_mess";
                div.appendChild(h1);
                div.appendChild(p);
                div.appendChild(h4);

                chatbox.appendChild(div).scrollIntoView();

                messageInput.value = '';
            };
        };
    </script>
</body>
</html>